.payment-card__body {
  padding: $padding-payment-card $padding-payment-card + 2em;
  display: flex;
  gap: 3em;
  overflow-x: scroll;
}

@media (min-width: 750px) {
  .payment-card__body {
    overflow-x: auto;
  }
}
