.base-button {
  background-color: white;
  color: var(--button-color);
  border: none;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}
