.circle-base-button {
  border-radius: 100%;
  border: var(--border-circle-button) solid var(--border-color-step-card);
  display: flex;
  justify-content: center;
  align-items: center;
  &.border-thin{
    --border-circle-button: 1px;
  }
  &:hover{
    cursor: pointer;
  }
}
