$bg-primary-500: #1d4ed8;
$bg-primary-400: #3460dc;
$bg-neutral-200: #e2e8f0;
$bg-neutral-400: #94a3b8;
$bg-neutral-900: #0f172a;
$bg-success: #10b981;
$bg-secondary: #f5f5f5;


:root {
  // Here we are interpolating the sass variables
  --button-background: #{$bg-secondary};
  --button-color: #{$bg-primary-400};
  --text-color: #{$bg-neutral-900};
  --color-bottom-border-header-card: #{$bg-neutral-200};
}

